.BusScheduleSearch {
    z-index: 9999;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}

.BusScheduleSearch__container {
    position: relative;
    max-width: 1200px;
    margin: 0 auto 15px;
    background: rgba(0,0,0, 0.3);
    box-sizing: border-box;
    overflow: hidden;
    padding: 0 15px;
    font-size: 18px;
    line-height: 55px;
    cursor: pointer;
}

.BusScheduleSearch__input {
    position: relative;
    width: 100%;
    font-size: 18px;
    line-height: 30px;
    font-weight: 300;
    border: none;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    background: rgba(0,0,0, 0);
    color: white;
}

.BusScheduleSearch__input:hover,
.BusScheduleSearch__input:active,
.BusScheduleSearch__input:focus {
    outline: 0;
    outline-offset: 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}
.BusScheduleSearch__control {
    position: absolute;
    right: 18px;
    top: 15px;
    font-size: 0;
    line-height: 0;
}
.BusScheduleSearch__icon {
    width: 24px;
    height: 24px;
    cursor: pointer;
    margin-left: 15px;
}

.BusScheduleSearch__icon-svg {
    fill: white
}

.BusScheduleSearch__icon:hover .BusScheduleSearch__icon-svg{
    fill: rgba(0, 0, 0, 0.4);
}

.BusScheduleSearch__icon:active .BusScheduleSearch__icon-svg{
    fill: rgba(0, 0, 0, 0.7);
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: white;
    font-weight: 300;
    opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: white;
    font-weight: 300;
}

::-ms-input-placeholder { /* Microsoft Edge */
    color: white;
    font-weight: 300;
}